/* styles used by the layout grid component */

.drone-tile{
  background-image: url(/images/drone.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.highlight-tile{
  border: 2px solid #f759b5;
  border-radius: 7px;
  background-blend-mode: exclusion;
  font-size: 0.8rem !important;
  line-height: 1.3rem !important;
}

.grid-tile,
.clicked-tile{
  background-color: lavender;
  width: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  min-height: 1.5rem;
  margin: 1px;
  border-radius: 0.2rem;
  line-height: 1.5rem;
  font-size: 0.7rem;
}

.clicked-tile{
  background-color: lightskyblue;
  text-align: center;
  font-weight: bold;
}

.header-tile{
  width: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  min-height: 1.5rem;
  padding: 0.3rem;
  margin: 1px;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  font-size: 0.7rem;
}

.scroll-wrapper {
  padding-top: 3rem;
  flex: 1;
  display: flex;
  height: 100%;
}
